<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Статистика</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<style>
    h2{
        text-align: center;
        font-family: ui-monospace;
        color: lightseagreen;
        font-weight: 100;
    }
</style>

<script>
    function sendPost(dateFirst, dateSecond){
        $.ajax({
            type: 'POST',
            url: '/stats',
            data: {"dateFirst":dateFirst, "dateSecond": dateSecond, "idProfile": "<%= idProfile %>"},
            dataType: "json",
            success: (response) => {
                if (response.Success === "reload") {

                }
                DataRender = response.data;
                renderStats();
            },
            error: () => {
                alert("ERROR");
            }
        });
    }


    let DataRender = <%-JSON.stringify(data) %>
</script>


<h2>Отчёт для руководителя: <b><%= name %> <%= surname %></b><span style="float: right">Дата: <input type="date" onchange="dateSet()" id="dateFirst"> <input type="date" onchange="dateSet()" id="dateSecond" style="margin-right: 50px;"></span></h2>
<canvas id="myChart" style="width: 100vw"></canvas>
<script src="JS/stats/chart.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>

<script>
    let date = new Date(), y = date.getFullYear(), m = date.getMonth();
    document.getElementById("dateFirst").value = moment( new Date(y, m, 1)).format("yyyy-MM-DD");
    document.getElementById("dateSecond").value = moment( new Date()).format("yyyy-MM-DD");
</script>


<script>

    let inputLabel = [];
    const ctx = document.getElementById('myChart').getContext('2d');
    let myChart = null;
function renderStats(){
    console.log(DataRender);
    myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: inputLabel,
            datasets:DataRender
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}


let dateFirst = null;
let dateSecond = null;
let tempDate = null;
function dateSet(){

    dateFirst = new Date(document.getElementById("dateFirst").value);
    dateSecond = new Date(document.getElementById("dateSecond").value);

    console.log({dateFirst})
    console.log({dateSecond})

    if(dateFirst != null && dateSecond != null && dateFirst <= dateSecond){
        sendPost(dateFirst, dateSecond);
        inputLabel = [];
        if(myChart !== null){
            myChart.destroy();
            console.log("destroy");
        }
        tempDate = dateFirst;
        while(dateFirst <= dateSecond){
            inputLabel.push(dateToYMD(tempDate));
            tempDate.setDate(tempDate.getDate() + 1)
        }
    }

}


    function dateToYMD(date) {
        let d = date.getDate();
        let m = date.getMonth() + 1; //Month from 0 to 11
        let y = date.getFullYear();
        return '' + y + '-' + (m<=9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
    }

    dateSet();
</script>

</body>
</html>